				<aside class="blog">
					<h2><a href="{{ path('blog') }}">Recent Posts</a></h2>
	{% for post in posts %}
					<p>
						<a href="{{ path('blog') }}{{ post.id }}-{{ post.name }}" class="title">{{ post.title }}</a>
						<span class="postdate"> on {{ post.date | date('d/m/Y') }}</span>
						{{ post.abstract | raw }}
					</p>
	{% endfor %}
				</aside>