{% for post in posts %}
				<div class="articleWrap">
					<div class="articleBottom">
						<article>
							<h2><a href="{{ path('blog') }}{{ post.id }}-{{ post.name }}">{{ post.title }}</a></h2>
							<p class="blogPostDate">{{ post.date | date('d/m/Y') }}</p>
							<p>{{ post.abstract | raw }}</p>
							<p class="blogPostComments"><a href="{{ path('blog') }}{{ post.id }}-{{ post.name }}" title="{{ post.name }}">more...</a> {{ post.nocomments }} Comment{% if post.nocomments != 1 %}s{% endif %}.</p>
						</article>
					</div>
				</div>
{% else %}
				<div class="articleWrap">
					<div class="articleBottom">
						<article>
							<p>No posts yet! Please check back later!</p>
						</article>
					</div>
				</div>
{% endfor %}